.weatherWidget {
  background-color: #161616;
}

#temp {
  font-family: 'Roboto';
  color: #fff;
  background-color: #161616;
  text-align: center;
  /* Animations */
}

#temp .temp__cityName {
  margin-bottom: 0.375em;
  color: #fff;
  font-weight: 400;
  font-size: 3em;
  text-transform: uppercase;
}

#temp h2 {
  color: #fff;
  display: inline;
  padding: 0 20px;
  font-size: 60px;
}

#temp sup {
  font-size: 40px;
  color: #fff;
}

#temp a {
  color: rgba(255, 255, 255, 0.3);
  font-size: 40px;
}

#temp .status p {
  font-size: 1.8em;
  text-transform: capitalize;
}

#temp header {
  margin-bottom: 30px;
}

#temp .temp {
  cursor: pointer;
  color: #006dcc;
}

#temp .temp:hover {
  color: #005096;
}

#temp .all-icon {
  margin-bottom: 20px;
}

#temp div.hide {
  display: none;
}

#temp .icon {
  color: #161616;
  position: relative;
  display: inline-block;
  width: 12rem;
  height: 10rem;
  margin: 0 auto;
}

#temp #temp {
  float: left;
}

#temp #temp h1 {
  display: inline-block;
}

#temp #temp a {
  font-size: 40px;
  text-decoration: none;
}

#temp #title_app {
  font-size: 60px;
  text-transform: capitalize;
}

#temp html {
  box-sizing: border-box;
}

#temp html *,
#temp html *:before,
#temp html *:after {
  box-sizing: inherit;
}

#temp body {
  max-width: 42em;
  padding: 2em;
  margin: 0 auto;
  color: #161616;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: currentColor;
}

#temp p {
  margin: 1.375rem 0;
}

#temp .icon {
  position: relative;
  display: inline-block;
  width: 12em;
  height: 10em;
  font-size: 1em;
  /* control icon size here */
}

#temp .cloud {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 3.6875em;
  height: 3.6875em;
  margin: -1.84375em;
  background: currentColor;
  border-radius: 50%;
  box-shadow: -2.1875em 0.6875em 0 -0.6875em, 2.0625em 0.9375em 0 -0.9375em, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff;
}

#temp .cloud:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -0.5em;
  display: block;
  width: 4.5625em;
  height: 1em;
  background: currentColor;
  box-shadow: 0 0.4375em 0 -0.0625em #fff;
}

#temp .cloud:nth-child(2) {
  z-index: 0;
  background: #fff;
  box-shadow: -2.1875em 0.6875em 0 -0.6875em #fff, 2.0625em 0.9375em 0 -0.9375em #fff, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff;
  opacity: 0.3;
  -webkit-transform: scale(0.5) translate(6em, -3em);
      -ms-transform: scale(0.5) translate(6em, -3em);
          transform: scale(0.5) translate(6em, -3em);
  -webkit-animation: cloud 4s linear infinite;
          animation: cloud 4s linear infinite;
}

#temp .cloud:nth-child(2):after {
  background: #fff;
}

#temp .sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: -1.25em;
  background: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 0 0.375em #fff;
  -webkit-animation: spin 12s infinite linear;
          animation: spin 12s infinite linear;
}

#temp .rays {
  position: absolute;
  top: -2em;
  left: 50%;
  display: block;
  width: 0.375em;
  height: 1.125em;
  margin-left: -0.1875em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #fff;
}

#temp .rays:before,
#temp .rays:after {
  content: '';
  position: absolute;
  top: 0em;
  left: 0em;
  display: block;
  width: 0.375em;
  height: 1.125em;
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-transform-origin: 50% 3.25em;
      -ms-transform-origin: 50% 3.25em;
          transform-origin: 50% 3.25em;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 5.375em #fff;
}

#temp .rays:before {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}

#temp .cloud + .sun {
  margin: -2em 1em;
}

#temp .rain,
#temp .lightning,
#temp .snow {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 3.75em;
  height: 3.75em;
  margin: 0.375em 0 0 -2em;
  background: currentColor;
}

#temp .rain:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 1.125em;
  height: 1.125em;
  margin: -1em 0 0 -0.25em;
  background: #0cf;
  border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
  box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  -webkit-transform: rotate(-28deg);
      -ms-transform: rotate(-28deg);
          transform: rotate(-28deg);
  -webkit-animation: rain 3s linear infinite;
          animation: rain 3s linear infinite;
}

#temp .bolt {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.25em 0 0 -0.125em;
  color: #fff;
  opacity: 0.3;
  -webkit-animation: lightning 2s linear infinite;
          animation: lightning 2s linear infinite;
}

#temp .bolt:nth-child(2) {
  width: 0.5em;
  height: 0.25em;
  margin: -1.75em 0 0 -1.875em;
  -webkit-transform: translate(2.5em, 2.25em);
      -ms-transform: translate(2.5em, 2.25em);
          transform: translate(2.5em, 2.25em);
  opacity: 0.2;
  -webkit-animation: lightning 1.5s linear infinite;
          animation: lightning 1.5s linear infinite;
}

#temp .bolt:before,
#temp .bolt:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -1.625em 0 0 -1.0125em;
  border-top: 1.25em solid transparent;
  border-right: 0.75em solid;
  border-bottom: 0.75em solid;
  border-left: 0.5em solid transparent;
  -webkit-transform: skewX(-10deg);
      -ms-transform: skewX(-10deg);
          transform: skewX(-10deg);
}

#temp .bolt:after {
  margin: -0.25em 0 0 -0.25em;
  border-top: 0.75em solid;
  border-right: 0.5em solid transparent;
  border-bottom: 1.25em solid transparent;
  border-left: 0.75em solid;
  -webkit-transform: skewX(-10deg);
      -ms-transform: skewX(-10deg);
          transform: skewX(-10deg);
}

#temp .bolt:nth-child(2):before {
  margin: -0.75em 0 0 -0.5em;
  border-top: 0.625em solid transparent;
  border-right: 0.375em solid;
  border-bottom: 0.375em solid;
  border-left: 0.25em solid transparent;
}

#temp .bolt:nth-child(2):after {
  margin: -0.125em 0 0 -0.125em;
  border-top: 0.375em solid;
  border-right: 0.25em solid transparent;
  border-bottom: 0.625em solid transparent;
  border-left: 0.375em solid;
}

#temp .flake:before,
#temp .flake:after {
  content: '\2744';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.025em 0 0 -1.0125em;
  color: #fff;
  list-height: 1em;
  opacity: 0.2;
  -webkit-animation: spin 8s linear infinite reverse;
          animation: spin 8s linear infinite reverse;
}

#temp .flake:after {
  margin: 0.125em 0 0 -1em;
  font-size: 1.5em;
  opacity: 0.4;
  -webkit-animation: spin 14s linear infinite;
          animation: spin 14s linear infinite;
}

#temp .flake:nth-child(2):before {
  margin: -0.5em 0 0 0.25em;
  font-size: 1.25em;
  opacity: 0.2;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

#temp .flake:nth-child(2):after {
  margin: 0.375em 0 0 0.125em;
  font-size: 2em;
  opacity: 0.4;
  -webkit-animation: spin 16s linear infinite reverse;
          animation: spin 16s linear infinite reverse;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes cloud {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5) translate(-200%, -3em);
            transform: scale(0.5) translate(-200%, -3em);
  }
}

@keyframes cloud {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5) translate(-200%, -3em);
            transform: scale(0.5) translate(-200%, -3em);
  }
}

@-webkit-keyframes rain {
  0% {
    background: #0cf;
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
  }
  25% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  }
  50% {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
  }
}

@keyframes rain {
  0% {
    background: #0cf;
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
  }
  25% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  }
  50% {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
  }
}

@-webkit-keyframes lightning {
  45% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
  50% {
    color: #0cf;
    background: #0cf;
    opacity: 1;
  }
  55% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
}

@keyframes lightning {
  45% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
  50% {
    color: #0cf;
    background: #0cf;
    opacity: 1;
  }
  55% {
    color: #fff;
    background: #fff;
    opacity: 0.2;
  }
}

#temp .sun-shower {
  display: none;
}

#temp .thunder-storm {
  display: none;
}

#temp .cloudy {
  display: none;
}

#temp .flurries {
  display: none;
}

#temp .sunny {
  display: none;
}

#temp .rainy {
  display: none;
}

/* Style for tabs */
.learnEnglishWidget__container {
  background: #181818;
  color: #111111;
  padding: 15px 20px;
  border: 1px solid #222222;
  margin: 8px auto;
}

.learnEnglishWidget__container .learnEnglishWidget__container__tabs > li {
  list-style: none;
  float: left;
}

.learnEnglishWidget__container .learnEnglishWidget__container__tabs > li a {
  display: block;
  padding: 6px 10px;
  text-decoration: none;
  margin: 1px;
  margin-left: 0;
  color: #FFFFFF;
  background: #444444;
}

.learnEnglishWidget__container .learnEnglishWidget__container__tabs > li a:hover {
  color: #FFFFFF;
  background: #444444;
}

.learnEnglishWidget__container .learnEnglishWidget__container__tabs > li a.selected {
  margin-bottom: 0;
  color: #000;
  background: snow;
  border-bottom: 1px solid snow;
  cursor: default;
}

.learnEnglishWidget__container a {
  transition: all .5s;
}

.learnEnglishWidget__container div {
  padding: 10px 10px 8px 10px;
  padding-top: 3px;
  margin-top: -15px;
  clear: left;
  background: #FFFFFF;
}

/* DEFAULTS - don't modify */
#filterWidget {
  margin: 0 auto;
  text-align: center;
  padding: 1em;
  background: #161616;
}

#filterWidget .categories {
  list-style: none;
  padding: 0;
  margin: 0;
  margin: 1em 0;
}

#filterWidget .categories li {
  display: inline-block;
  width: 100px;
  margin: 0 7px;
  border-radius: 5px;
}

#filterWidget .categories li:hover {
  background: rgba(255, 255, 255, 0.4);
}

#filterWidget .categories li a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFFFFF;
  padding: .5em;
}

.tiles li {
  padding: 1em;
  width: 100px;
  display: inline-block;
  box-sizing: border-box;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  margin: 7px;
}

.cat-red:hover {
  background: #e74c3c;
}

.cat-blue:hover {
  background: #3498db;
}

.cat-green:hover {
  background: #2ecc71;
}

.cat-yellow:hover {
  background: #f1c40f;
}

.cat-orange:hover {
  background: #e67e22;
}

.menu-cat-all {
  border: 1px solid #FFFFFF;
}

.menu-cat-red {
  background: #e74c3c;
}

.menu-cat-blue {
  background: #3498db;
}

.menu-cat-green {
  background: #2ecc71;
}

.menu-cat-yellow {
  background: #f1c40f;
}

.menu-cat-orange {
  background: #e67e22;
}

/* DEFAULTS - END */
/* YOUR STYLES BELOW */
.noactive {
  background: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

li {
  -webkit-animation: fadein 1.7s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 1.7s;
}

li:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */

/* Opera < 12.1 */

#joke-box {
  background: #161616;
}

#joke-box .joke__container {
  padding: 30px 100px;
  height: 200px;
}

#joke-box .joke__container #joke__text {
  color: snow;
}

#joke-box #new_joke {
  background: #161616;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid white;
  float: right;
}

.ytBookmarkWidget__container {
  background: #161616;
}

.ytBookmarkWidget__container .ytBookmarkWidget__content {
  padding: 20px;
}

.ytBookmarkWidget__container .ytBookmarkWidget__content .ytBookmarkWidget__subheader {
  color: #777777;
  font-size: 24px;
  margin-top: 0;
}

.ytBookmarkWidget__container .ytBookmarkWidget__content #ytBookmarkWidget__form {
  text-align: center;
}

.ytBookmarkWidget__container .ytBookmarkWidget__content .ytBookmarkWidget__input {
  margin: 10px 0;
}

.ytBookmarkWidget__container .ytBookmarkWidget__content .ytBookmarkWidget__input:focus {
  border-bottom: 1px solid #2196F3;
  color: #FFFFFF;
}

.ytBookmarkWidget__container .ytBookmarkWidget__btnPrimary {
  background: #00BCD4;
  padding: 10px 60px;
  border-radius: 4px;
  border: none;
}

.ytBookmarkWidget__container .ytBookmarkWidget__btnPrimary:hover {
  background: #008fa1;
  transition: 0.4s;
}

#watcher h1 {
  color: green;
}

#watcher #firstbox {
  height: 200px;
  width: 20px;
  background: grey;
  transition: all 2.4s linear;
  -webkit-animation-delay: 23;
          animation-delay: 23;
}

.widget__header {
  color: #fff;
  font-weight: 400;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #f0f0f0;
  margin: 0;
}

.error-message {
  color: #e74c3c;
  padding: 10px;
}
