$tab-bg: #444444;
$tab-div-bg: #FFFFFF;

/* Style for tabs */
.learnEnglishWidget__container {
  background: #181818;
  color: #111111;
  padding: 15px 20px;
  border: 1px solid #222222;
  margin: 8px auto;

  .learnEnglishWidget__container__tabs > li {
    list-style: none;
    float: left;

    a {
      display: block;
      padding: 6px 10px;
      text-decoration: none;
      margin: 1px;
      margin-left: 0;
      color: #FFFFFF;
      background: #444444;

      &:hover {
        color: #FFFFFF;
        background: $tab-bg;
      }
    }

    a.selected {
      margin-bottom: 0;
      color: #000;
      background: snow;
      border-bottom: 1px solid snow;
      cursor: default;
    }
  }

  a {
    -webkit-transition: all .5s;
    transition: all .5s;
  }

  div {
    padding: 10px 10px 8px 10px;
    padding-top: 3px;
    margin-top: -15px;
    clear: left;
    background: $tab-div-bg;
  }
}
