// Basic view of site
$menu-bg: #181818;
$menu-btn-bg: #42a5f5;
$menu-btn-bg-hover: lighten($menu-btn-bg, 20%);
$icon-color: #2d2d2d;

  // navigation style
.main_navigation {
  display: none;
  background: $menu-bg;
  border-bottom: 1px solid $menu-btn-bg;
  height: 100px;

  .main_navigation__logo {
    width: 275px;
    margin: 4px 30px;
  }

  a {
    color: $icon-color;
  }
}

.main_navigation__show {
  display: block;
}

.main_navigation__actionButton__container {
  display: flex;
  margin: 0 auto;
  text-align: center;

  .main_navigation__actionButton {
    margin: 0 auto;
    background: $menu-btn-bg;

    &:hover {
      background: $menu-btn-bg-hover;
    }
  }
}

.widget__header {
  color: #fff;
  font-weight: 400;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #f0f0f0;
  margin: 0;
}

.error-message {
  color: #e74c3c;
  padding: 10px;
}