// Basic view of site

#watcher {
  h1 {
    color: green;
  }

  #firstbox {
    height: 200px;
    width: 20px;
    background: grey;
    transition: all 2.4s linear;
    animation-delay: abs(23);
  }
}

.widget__header {
  color: #fff;
  font-weight: 400;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #f0f0f0;
  margin: 0;
}

.error-message {
  color: #e74c3c;
  padding: 10px;
}