<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <title></title>

      <!-- jQuery -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>

      <!-- All CSS styles -->
      <link rel="stylesheet" href="../css/style.css">

      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- Google font -->
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">

      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../css/materialize.min.css">

      <!-- Babel -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.23.1/babel.js" charset="utf-8"></script>

  </head>
  <body>

  <nav class="main_navigation">
      <div class="nav-wrapper">
          <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
          <ul class="right hide-on-med-and-down">
              <li><a href="sass.html"><i class="material-icons">search</i></a></li>
              <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
              <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
              <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
          </ul>
      </div>
  </nav>
  <div class="main_navigation__actionButton__container">
  <a class="waves-effect waves-light btn main_navigation__actionButton"><i class="large material-icons right">view_headline
  </i>menu</a>
  </div>

  <div class="widget row">

  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="../img/image_card_1.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>


  <!-- Learn English App box-->
    <div class="col s12 m5">
      <div id="englishWidget">
        <!-- // require views-->
      </div>
    </div>
  <!-- /. Learn English App box -->


  <!-- Weather App box-->
    <div class="col s12 m3">
      <div class="weatherWidget">
        <!-- // require views-->
      </div>
    </div>
  </div>
  <!-- /. Weather App-->


</div> <!-- ./ end widget row /-->

<div class="widget row">
  <div class="row">

    <!-- Filter Widget-->
    <div class="col s12 m6">
      <div class="card">
        <div id="filterWidget">
      <!-- // require views-->
       </div>
      </div>
    </div>
  <!-- ./ end filter Widget-->

      <div class="col s10 m4">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="../img/image_card_2.jpg">
          </div>
          <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
              <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
      </div>
      </div>

      <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="pl_PL" data-type="vertical" data-theme="dark" data-vanity="krzysztoflen"><a class="LI-simple-link" href='https://pl.linkedin.com/in/krzysztoflen?trk=profile-badge'>Krzysztof Len</a></div>

  </div>
</div>

<div class="widget row">

    <!-- Random joke machine-->
    <div class="col s12 m4">
        <div id="joke-box" class="random_bg_color">
            <!-- // require views -->
        </div>
    </div>
    <!-- ./ end random joke machine-->


    <!-- Youtube bookmark app -->
    <div class="col s12 m4">
        <div id="ytBookmarkWidget">
            <!-- // require views -->
        </div>
    </div>

</div>


  <script>


      $('.main_navigation__actionButton').click(function() {
          $( ".main_navigation" ).toggle(2000);
      });

  </script>



  <!-- Include html views-->
  <script src="../js/includehtml.js"></script>

  <!-- XML controllers -->
  <script src="../js/XMLcontrollers.js"></script>

  <!-- Materialize JS -->
  <script src="../js/materialize.min.js"></script>

  <!-- weather APP-->
  <script src="../js/weatherWidget.js"></script>

  <!-- learnEnglishWidget -->
  <script src="../js/learnEnglishWidget.js"></script>

  <!-- LinkedIn script -->
  <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
  </body>
</html>
