<!-- Main navigation -->
<nav class="main_navigation">
    <div class="nav-wrapper">
        <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
        <img class="main_navigation__logo" src="../img/logo.png" alt="logo">
        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html"><i class="fa fa-search" aria-hidden="true"></i></a></li>
            <li id="setting__btn"><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i></a></li>
            <li><a href="collapsible.html"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/in/krzysztoflen/" target="_blank"><i class="fa fa-linkedin-square"
                                                                                       aria-hidden="true"></i>
            </a></li>
            <li><a href="https://github.com/KrzysztofLen/projectmodular" target="_blank"><i class="fa fa-github"
                                                                                            aria-hidden="true"></i>
            </a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="sass.html"><i class="fa fa-search" aria-hidden="true"></i>Search</a></li>
            <li id="mobileSetting__btn"><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i>Settings</a></li>
            <li><a href="collapsible.html"><i class="fa fa-refresh" aria-hidden="true"></i>Refresh</a></li>
            <li><a href="https://www.linkedin.com/in/krzysztoflen/" target="_blank">Linked In<i
                    class="fa fa-linkedin-square"
                    aria-hidden="true"></i>
            </a></li>
            <li><a href="https://github.com/KrzysztofLen/projectmodular" target="_blank">Github<i class="fa fa-github"
                                                                                                  aria-hidden="true"></i>
            </a></li>
        </ul>
    </div>
</nav>
<div class="main_navigation__actionButton__container">
    <a class="waves-effect waves-light btn main_navigation__actionButton">
        <i class="large material-icons right">view_headline
        </i>menu</a>
</div>

<div class="widget row">

    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="../img/image_card_1.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ante ante, vehicula eget
                        condimentum in, finibus ac diam. Sed nec porttitor odio, eget placerat erat. Morbi maximus
                        tempor congue. Aenean leo neque, pellentesque sit amet sapien eget, gravida pretium orci. Nunc
                        id lectus rhoncus, vehicula magna eget, aliquam quam.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
                <div class="card-tab__component"></div>
            </div>
        </div>


        <!-- Learn English App box-->
        <div class="col s12 m5">
            <div id="englishWidget">
                <!-- // require views-->
            </div>
        </div>
        <!-- /. Learn English App box -->


        <!-- Weather App box-->
        <div class="col s12 m3">
            <div id="weather-widget" class="weather-widget">
                <!-- // require views-->
            </div>
            <div class="card-tab__component"></div>
        </div>

    </div>
    <!-- /. Weather App-->


</div> <!-- ./ end widget row /-->

<div class="widget row">
    <div class="row">

        <!-- Filter Widget-->
        <div class="col s12 m6">
            <div class="card">
                <div id="filterWidget">
                    <!-- // require views-->
                </div>
                <div class="card-tab__component"></div>
            </div>
        </div>
        <!-- ./ end filter Widget-->

        <div class="col s10 m4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../img/image_card_2.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ante ante, vehicula eget
                        condimentum in, finibus ac diam. Sed nec porttitor odio, eget placerat erat. Morbi maximus
                        tempor congue. </p>
                </div>
                <div class="card-tab__component"></div>
            </div>
        </div>
    </div>
</div>

<div class="widget row">

    <!-- Random joke machine-->
    <div class="col s12 m4">
        <div id="random-joke-machine" class="random-joke-machine">
            <!-- // require views -->
        </div>
        <div class="card-tab__component"></div>
    </div>
    <!-- ./ end random joke machine-->


    <!-- Youtube bookmark app -->
    <div class="col s12 m4">
        <div id="ytBookmarkWidget">
            <!-- // require views -->
        </div>
        <div class="card-tab__component"></div>
    </div>

</div>


<!-- Setting Modal -->
<div id="settingModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>App settings</h2>
        </div>
        <div class="modal-body">

            <div id="swatch" class="ui-widget-content ui-corner-all"></div>

            <form name="colorSetting__form">
                <label for="red_range">RED: </label>
                <input type="range" name="red_range" id="red_range" min="1" max="255"
                            oninput="colorSetting()">
                <label for="green_range">GREEN: </label>
                <input type="range" name="green_range" id="green_range" min="1" max="255"
                              oninput="colorSetting()">
                <label for="blue_range">BLUE: </label>
                <input type="range" name="blue_range" id="blue_range" min="1" max="255"
                             oninput="colorSetting()">
            </form>
        </div>
    </div>

</div>

<script src="../js/index.js" async></script>

<script src="../js/siteSettingsOption.js" defer></script>

<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
        $("#englishWidget").load("../views/learnEnglishWidget.html");
        $("#filterWidget").load("../views/filterWidget.html");
        $("#random-joke-machine").load("../src/app/random-joke-machine/random-joke-machine.component.html");
        $('#ytBookmarkWidget').load("../views/ytBookmarkWidget.html");
        $("#weather-widget").load("../src/app/weather-widget/weather-widget.component.html");
        $('.card-tab__component').load("../views/components/card-tab.component.html");
    });
</script>
