$tab-bg: #444444;
$tab-div-bg: #FFFFFF;
$newWord-submit-btn: #f1c40f;
$newWord-submit-btn_hover: #CCA60D;
$dark-bg: #181818;
$random-btn: #03A9F4;
$random-btn-hover: #0286C2;

/* Style for tabs */
.english-widget {
  &__container {
    background: #181818;
    color: #111111;
    padding: 15px 20px;
    border: 1px solid #222222;
    margin: 8px auto;
  }

  &__tabs-list > li {
    list-style: none;
    float: left;
  }

  &__tabs-list__element {
    display: block;
    padding: 6px 10px;
    text-decoration: none;
    margin: 1px;
    margin-left: 0;
    color: #FFFFFF;
    background: #444444;
    -webkit-transition: all .5s;
    transition: all .5s;

    &:hover {
      color: #FFFFFF;
      background: $tab-bg;
    }
  }
}

.english-widget__tabs-list__element.selected {
  margin-bottom: 0;
  color: #000;
  background: snow;
  border-bottom: 1px solid snow;
  cursor: default;
}

.english-widget__random-container, .english-widget__new-word-container {
  padding: 10px 10px 8px 10px;
  padding-top: 3px;
  margin-top: -15px;
  clear: left;
  background: $tab-div-bg;
}

// DICTIONARY TAB
.english-widget {
  &__dictionary-container {
    background: $dark-bg;

    &__dictionary-list {
      .word__view {
        padding: 10px 10px 8px;
        padding-top: 3px;
        margin-top: 0;
        clear: left;
      }

      li .toggle:after {
        content: '✔';
        line-height: 43px; /* 40 + a couple of pixels visual adjustment */
        font-size: 20px;
        color: #d9d9d9;
        text-shadow: 0 -1px 0 #bfbfbf;
      }

      li .toggle:checked:after {
        color: #85ada7;
        text-shadow: 0 1px 0 #669991;
        bottom: 1px;
        position: relative;
      }
    }
  }

  &__dictionary-header {
    color: #fff;
    font-family: Lato;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    padding: 45px 0 0;
    font-weight: 200;
  }

  &__dictionary-list-container {
    height: 185px;
    overflow: overlay;
  }
}

// RANDOM TAB
.english-widget {
  &__random-header {
    font-family: Lato;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    font-weight: 400;
  }

  &__random-word {
    font-family: Lato;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    font-weight: 200;
  }

  &__random-button-container {
    text-align: center;
  }

  &__random-button {
    margin: 20px;
    background: $random-btn;
    padding: 10px 60px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    transition: .4s;
    text-transform: uppercase;

    &:hover {
      background: $random-btn-hover;
    }
  }
}

// NEW WORD TAB
.english-widget {
  &__new-word-header {
    font-family: 'Lato';
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    font-weight: 200;
  }

  &__new-word-container {
    text-align: center;
  }

  &__new-word-input {
    padding: 3px;
    border: none;
    background: rgba(0, 0, 0, 0.04);
    z-index: 2;
    box-shadow: none;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border-radius: 4px;
  }

  &__new-word-submit {
    margin: 20px;
    background: $newWord-submit-btn;
    padding: 10px 60px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    transition: 0.4s;

    &:hover {
      background: $newWord-submit-btn_hover;
      transition: 0.4s;
    }
  }
}

#english-widget__new-word-input {
  padding: 3px;
  border: none;
  background: rgba(0, 0, 0, 0.04);
  z-index: 2;
  box-shadow: none;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border-radius: 4px;
}

#word,
.edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#word {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.02);
  z-index: 2;
  box-shadow: none;
}

.destroy {
  background-color: red;
  display: none;
  position: absolute;
  top: 0;
  right: 27px;
  bottom: 0;
  margin: auto 0;
  font-size: 22px;
  background: transparent;
  border: none;
  color: #a88a8a;
  transition: all .2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

li .destroy:hover {
  text-shadow: 0 0 1px #000, 0 0 10px rgba(199, 107, 107, 0.8);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}

li .destroy:before {
  font-family: "FontAwesome";
  content: '\f2d3';
  line-height: 20px;
}

li:hover .destroy {
  display: block;
}